.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

.grid {
  /* width: 200px; */
  height: 50px;
  background-color: cadetblue;
  border: 1px solid black;
}

.grid:hover {
  background-color: firebrick;
}

.switch {
  background-color: blue;
}
